<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>双创项目管理 - 项目管理</title>
    <link rel="icon" type="image/x-icon" href="/ProjectManagement/static/img/icon.png" th:href="@{/img/icon.png}"/>
    <link rel="stylesheet" type="text/css" href="/ProjectManagement/static/dist/semantic.min.css" th:href="@{/dist/semantic.min.css}">
    <script src="/ProjectManagement/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="/ProjectManagement/static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>

    <!-- Site Specified Style and Script -->
    <link rel="stylesheet" type="text/css" href="/ProjectManagement/static/css/common.css" th:href="@{/css/common.css}">
    <script src="/ProjectManagement/static/js/common.js" th:src="@{/js/common.js}"></script>
</head>

<body>
<div th:replace="common::common_header"></div>

<div class="ui main container">
    <div class="ui stackable grid">
        <div class="ui mobile only four wide column">
            <div th:replace="common::common_mobile_menu(3)"></div>
        </div>
        <div class="ui computer only tablet only four wide column">
            <div th:replace="common::common_menu(3)"></div>
        </div>
        <div class="ui twelve wide column">

            <div class="ui one column grid">
                <div class="computer only tablet only column">
                    <h1 class="ui computer only header">项目管理</h1>
                </div>
                <div class="container column"></div>
            </div>
            <div th:each="project:${projects}"class="ui container">

                <div class="ui top attached block header">
                    <div class="ui middle aligned two column centered grid">
                        <div class="left floated column">
                            <h3 class="ui header" th:text="${project.name}"></h3>
                        </div>
                        <div class="right floated column">
                            <a th:href="'/reject/' + ${project.pid}">
                                <button class="ui gray right floated button"><i class="trash alternate icon"></i>拒绝</button>
                            </a>
                            <a th:href="'/approve/' + ${project.pid}">
                                <button class="ui gray right floated button"><i class="edit icon"></i>审批</button>
                            </a>
                            <button class="ui detail gray right floated button"><i class="info icon"></i>详情</button>
                        </div>
                    </div>
                </div>
                <div class="ui mid attached segment">
                    <div class="ui stackable grid">
                        <div class="ui ten wide column">
                            <p th:text="${project.profile}"></p>
                        </div>
                        <div class="ui six wide column">
                            <h5 class="ui header">项目导师</h5>
                            <p th:text="${project.tutors}" style="word-break:break-word;"></p>
                            <h5 class="ui header">项目成员</h5>
                            <p th:text="${project.teammates}" style="word-break:break-word;"></p>
                        </div>
                    </div>
                </div>
                <div class="ui project detail attached segment">
                    <div class="ui grid">
                        <div class="ui thirteen wide right floated column">
                            <form th:action="@{/evaluate/{pid}(pid=${project.pid})}" method="post">
                                <div class="ui fluid action input">
                                    <label for="comment"></label>
                                    <input th:value="${project.score}" type="text"
                                           id="comment" name="project-score" placeholder="给个分呗～"/>
                                    <button type="submit" class="ui button">提交评分</button>
                                </div>
                            </form>
                        </div>
                        <div class="ui three wide right floated column">
                            <a th:href="@{/download?path={path}(path=${project.fileUrl})}">
                                <button type="button" class="ui green right floated button">下载附件</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:replace="common::common_steps"></div>
            </div>

        </div>
    </div>
</div>

<div th:replace="common::common_footer"></div>
</body>

</html>
