/* common */
body {
    background-color: #FFFFFF;
}

.main.container {
    margin-top: 7em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.icon {
    padding-right: 1em;
}

/* application.html */
.file.action.input input[type="file"] {
    display: none;
}
