<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>双创项目管理系统</title>
    <link type="text/css" rel="stylesheet" href="css/mustard-ui.min.css">
    <link type="text/css" rel="stylesheet" href="css/theme.css">
</head>

<body>
<main>
    <div class="container-large">
        <div class="row row-reverse">
            <div class="col col-lg-9">
                <section>
                    <div>
                        <h1 class="h1">Main Page</h1>
                    </div>
                </section>
            </div>
            <div class="col col-lg-3 display-lg-up">
                <div class="sidebar sidebar-left">
                    <h3 class="sidebar-category">双创项目管理系统</h3>
                    <ul class="sidebar-links">
                        <li><a href="#">系统首页</a></li>
                        <li><a href="#">个人信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>