<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="css/mustard-ui.min.css">
    <link type="text/css" rel="stylesheet" href="css/theme.css">
</head>
<body>
    <div class="sidebar sidebar-left">
        <h3 class="sidebar-category">Components</h3>
        <ul class="sidebar-links">
            <li><a href="/hello">Hello</a></li>
            <li><a href="#">Breadcrumbs</a></li>
            <li><a href="#">Cards</a></li>
            <li><a href="#">Footer</a></li>
            <li><a href="#">Header</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Modal</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Pagination</a></li>
            <li><a href="#">Panels</a></li>
            <li><a href="#">Progress Bars</a></li>
            <li><a href="#">Sidebar</a></li>
            <li><a href="#">Steppers</a></li>
            <li><a href="#">Tabs</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Tooltips</a></li>
        </ul>
    </div>
</body>
</html>